@model double

<!DOCTYPE html>
<html>
<head>
    <title>Witch's Villagers</title>
</head>
<body>
    <h1>Witch's Villagers</h1>
    <p>The average number of people killed on the birth year:</p>
    <p><strong>@Model</strong></p>
</body>
</html>
